
mat-card {
    width: 50%;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
}
mat-card img { max-width: 30%; margin:auto}
mat-card div{

    margin: auto;
    display: flex;
    flex-direction: column;
}
mat-card div button{
    max-width: 120px;
    margin: auto;
    background: rgb(227, 0, 15);
}
#heart {
    height: 256px;
    width: 256px;
    font-size: 256px;
    margin: auto;
    color: rgb(227, 0, 15);
}